<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Property Search with Leaflet</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <!-- <form id="searchForm"> -->
    
    <!-- <label for="maxprice">Enter the filter criteria for the property listings: </label><br>
    Max Price<input type="text" id="maxprice" name="maxprice"><br> -->
    <!-- Min Bed<input type="text" id="minbed" name="minbed"><br>
    Max Bed<input type="text" id="maxbed" name="maxbed"> -->
    <!-- <button type="submit">Search</button>
  </form>
   -->
   
<form id="myForm">  
  <label>Bedroom:<input id="bedroom" name="bedroom" value=""></label>
  <!-- <label>Bathroom:<input id="bathroom" name="bathroom" value=""></label> -->
  <input type="submit" value="Submit">
</form>

  <!-- The div that holds our map -->
  <div id="map"></div>
  <br><br><br><br><br><br>
  <table id="property-table">
    <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>Postal Code</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br><br><br><br><br>
<table id="propertyDetails">
  <thead>
      <tr>
          <th>Address</th>
          <th>City</th>
          <th>Postal Code</th>

          <th>Bedroom</th>
          <th>Bathroom_full</th>
          <th>Bathroom_half</th>

          <th>Construction year</th>
          <th>Den</th>
        
      </tr>
  </thead>
  <tbody></tbody>
</table>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/Main.js"></script>
</body>

</html>